{
    "plugins": [
        "@zackad/prettier-plugin-twig"
    ],
    "overrides": [
        {
            "files": "*.twig",
            "options": {
                "parser": "twig"
            }
        }
    ]
}
